.card-list {
  width: 80vw;
  margin: 0 auto;
  padding: 1vw 0 0.5vw 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border: 1.4rem var(--g-blue) solid;
  border-radius: 3.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-image: url('../../assets/bg-img/p14.png');
  background-repeat: repeat;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--g-yellow);
  border: 1px solid #dab513df;
  border-radius: 2px;
  padding: 0rem 0.2rem;
  margin: 0rem 0.8rem;
  cursor:pointer;
  width:5.2vw;
  min-width: 5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -10px;
  transform: rotate3d(1,0,0, 25deg);
  transition: 0.25s;
}

.card-container img {
  width:100%;
  cursor:pointer;
  position: relative;
  z-index: 5;
}

.card-container:hover {
  transform: scale(1.02) translateY(-0.2rem) rotate3d(1,0,0,-10deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 28px, rgba(0, 0, 0, 0.18) 0px -10px 10px;
  transition: 0.25s;
}


.image-overlay {
  color: var(--g-check-red);
  position: relative;
  z-index: 10;
  bottom: 4rem;
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 4.5rem;
  line-height: 0;
}


.dismiss-overlay {
  color: var(--g-check-red);
  position: relative;
  z-index: 10;
  bottom: 4rem;
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 6rem;
  line-height: 0;
  text-shadow: 1px 1px 2px rgb(63, 63, 63);
}

.correct-overlay {
  color: var(--g-check-green);
  position: relative;
  z-index: 10;
  bottom: 4rem;
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 6rem;
  line-height: 0;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}