.card-list {
  width: 80vw;
  margin: 0 auto;
  padding: 1vw 0 0.5vw 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border: 1px rgb(175, 175, 175) solid;
  border-radius: 3px;
  background-image: url('../../assets/bg-img/p14.png');
  background-repeat: repeat;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8cf1f;
  border: 1px solid #dab513df;
  border-radius: 2px;
  padding: 0.2rem;
  cursor:pointer;

  transform: rotate3d(1,0,0, 30deg);
  transition: 0.45s;
  margin: 1rem;
  width:5.2vw;
  min-width: 5rem;
  /* border: 1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}

.card-container img {
  width:100%;
  cursor:pointer;
}

.card-container:hover {
  transform: scale(1.1) translateY(-0.2rem) rotate3d(1,0,0,0deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
