
.splash-container {
  position: absolute;
  z-index:-1;
  height: 0%;
  width: 0vw;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation: splash-anim 3s ease-out;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 

}

.splash-logo {
  margin-top: 0rem;
  animation: splash-logo 3s ease-out;
}

@keyframes splash-anim {
  0% {
    z-index:1000;
    height: 100%;
    width: 100vw;
    background-color: white;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    
  }

  90% {
    height: 100%;
    width: 100vw;
    background-color: white;
  }

  99% {
    height: 100%;
    width: 100vw;
    /* background-color: white; */

  }

  100% {
    height: 0%;
    width: 0vw;
    background-color: transparent;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
  }
  
}

@keyframes splash-logo {
  0% {
    margin-top: 20rem ;
    transform: translateX(0.7rem);
  }

  50% {
    margin-top: 20rem ;
    filter: brightness(100%) hue-rotate(0deg);
  }


  60% {


  }

  85% {
    margin-top: 0rem ;
    filter: brightness(100%) hue-rotate(0deg);
  }

  90% {
    filter: brightness(125%) hue-rotate(-10deg);
  }

  100% {
    margin-top: 0rem ;
    transform: translateX(0.7rem);
    filter: brightness(100%) hue-rotate(0deg);
  }
  
}

.title-group {
  height: 15rem;
  width: 30rem;
}

.shift-lines {
  transform: translate(-4.5rem, 0.5rem);
}

.line-1 {
  position: relative;
}
.line-2 {
  position: relative;
  line-height: 0rem;
  transform: translate(3.5rem,0.1rem);
}
.line-3 {
  position: relative;
  line-height: 0;
  transform: translate(calc(11.5rem + 2.5vw),-2.5rem);
}

.red-title-1 {
  font-family: 'Sono', sans-serif;
  color: var(--g-red);
  -webkit-text-stroke: 1px var(--g-blue);
  font-size: calc(5.5rem + 2vw);
  letter-spacing: -0.60rem;
  font-weight: 900;
  position: relative;
  z-index: 10;
  text-shadow: 3px -2px 9px #ffffff77; 
}



.blue-title-1 {
  font-family: 'Sono', sans-serif;
  letter-spacing: -2rem;
  font-weight: 900;
  color: var(--g-blue);
  text-shadow: -4px 4px 10px var(--g-blue); 
  -webkit-text-stroke: 10px var(--g-blue);
  font-size: calc(7.5rem + 2vw);
  position: relative;
  z-index: 9;
  transform: translate(-0.65rem,calc(-4.6rem - 1vw));
  line-height: 2rem;
  font-stretch: ultra-expanded;
}

.red-title-2 {
  font-family: 'Sono', sans-serif;
  color: var(--g-red);
  -webkit-text-stroke: 1px var(--g-blue);
  font-size: calc(5.5rem + 2vw);
  letter-spacing: -0.2rem;
  font-weight: 900;
  position: relative;
  z-index: 12;
  text-shadow: 3px -3px 8px #ffffff77; 
}



.blue-title-2 {
  font-family: 'Sono', sans-serif;
  letter-spacing: -1.5rem;
  font-weight: 900;
  color: var(--g-blue);
  text-shadow: -4px 4px 10px var(--g-blue); 
  -webkit-text-stroke: 10px var(--g-blue);
  font-size: calc(7.5rem + 2vw);
  position: relative;
  z-index: 6;
  transform: translate(-0.7rem,-0.3rem);
  font-stretch: ultra-expanded;
}

.red-title-3 {
  font-family: 'Sono', sans-serif;
  color: var(--g-red);
  -webkit-text-stroke: 1px var(--g-blue);
  font-size: calc(10.5rem + 2vw);
  letter-spacing: -0.2rem;
  font-weight: 900;
  position: relative;
  z-index: 10;
  line-height: 0rem;
  text-shadow: 4px -2px 12px #ffffff82; 
}



.blue-title-3 {
  font-family: 'Sono', sans-serif;
  letter-spacing: -1.5rem;
  font-weight: 900;
  color: var(--g-blue);
  text-shadow: -6px 2px 10px var(--g-blue); 
  -webkit-text-stroke: 18px var(--g-blue);
  font-size: calc(11.5rem + 2vw);
  position: relative;
  z-index: 9;
  transform: translate(-0.6rem, 0rem);
  line-height: 0rem;
  font-stretch: ultra-expanded;
}